  a{color: inherit;}
  .flex{display: flex;}
  .positionbox {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 800px; */
    padding: 50px 100px;
    border: 1px solid #000;
    margin: 30px auto;
    gap: 20px;
  }
  .positiontitle{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
  }
  .Team-logo {
    /* height: 40vmin;
    pointer-events: none; */
    width: 150px;
    left: 20%;
    top: 5%;
    position: fixed;
  }
  .teamtable{width: 1000px; height: 800px; margin: 0 auto; position: relative;}
  .Team_list{
    display: flex; width: 800px; justify-content: space-evenly;
  }
  .Team_list li{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 60px;
    font-size: 12px;
    height: 33px;
  }
  .Team_list img{
    width: 30px; position: absolute;top: 50%; left: 50%;  transform: translate(-50%,-50%);
  }
  .tableheader{width: 800px;display: flex;justify-content: space-evenly; text-align: center;  font-weight: bold; border-bottom: 1px dotted; padding-bottom: 10px; margin-bottom: 15px;}
  .tableheader li{
    width: 60px;
  }
  .tableheader .Team{width: 140px;}
  .title{width: 1400px; margin-bottom: 50px; display: flex; justify-content: center; flex-direction: column;align-items: flex-start; border-left: 9px solid #3D195B; padding: 0px 25px;}
.title h3::before{position: absolute; content: attr(data-title); font-size: 90px; opacity: .1;width: 150px;height: 150px; top: -20px; left: 80px;}
.title h3{font-size: 40px; position: relative}

.champ{position: absolute; top:171px;}
.champ li{border-left: 3px solid #162E58;width: 10px;height: 25px; border-radius: 2px; margin-bottom : 8px;}

.euro{position: absolute; top:302px;}
.euro li{border-left: 3px solid #FF6900;width: 10px;height: 25px; border-radius: 2px; margin-bottom: 8px;}

.confer{position: absolute; top:368px;}
.confer li{border-left: 3px solid #00B813;width: 10px;height: 25px; border-radius: 2px; margin-bottom: 8px;}

.Rele{position: absolute; top:732px;}
.Rele li{border-left: 3px solid rgb(253, 70, 70);width: 10px;height: 25px; border-radius: 2px; margin-bottom: 8px;}

.qual{width: 750px; display: flex; justify-content: space-between; margin-top: 20px;}
.qual>li>ul{display: flex;}

.qualchamp li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: #162E58;}
.qualeuro li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: #FF6900;}
.qualconfer li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: #00B813;}
.qualrele li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: rgb(253, 70, 70);}

.plvideo{width: 100%;height: 50vh; margin: 0 auto;}
.plimg{position: absolute;width: 700px; opacity: .1; top: 30%;}

.squad{width: 1200px; margin: 0 auto;}
.teamtitle{display: flex; animation: box1_1 10s linear; align-items: center; width: 650px; justify-content: space-between;}
.teamtitle span{
  font-size: 50px;
}
@keyframes box1_1 {
  0%{clip-path: polygon(0 0, 0 0, 0 0, 0 0);}
  17.5%{clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); opacity: 1;}
  20%{opacity: 0;}
  100%{opacity: 1;}
}
.playerbox{width: 350px; height: 200px; display: flex; justify-content: space-evenly; align-items: center; border: 1px solid #000; border-radius: 10px;}
.playerbox img{width: 100px;}
.backlogo{position: fixed; top: 50%; left: 50%; width: 200px; opacity: .3; z-index: -1;}
.cards{width: 30px;}
.statbox{display: flex; width: 1200px; height: 600px; margin: 0 auto; border: 1px solid #000;}
/* .stats{} */
/* .header{width: 100%; height: 100px;} */
.headerimg{
  width: 150px; 
}
.container{width: 60%; height: 100px; margin: 0 auto; display: flex; align-items: center;}

.tablecontainer{position: relative; width: 1800px; height: 900px; margin: 0 auto;}
.newsblock{width: 350px; height: 500px; overflow: scroll; position: absolute; top: 200px; right: 100px;}
.newstitle{position: absolute; top: 190px; right: 310px;}
.newsblock::-webkit-scrollbar {
  width: 10px;
}
.newsblock::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.newsblock::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #3D195B;
}
.newsitem{width: 300px; font-size: 12px;}

header{
  width: 100%; height: 100px; z-index: 100;position: fixed; background: #fff; box-shadow: 0 1px 3px 0 #000;
  }
header nav{
      width: 1200px;
      height: 100%;
      align-items: center;
      margin: 0 auto;
      justify-content: space-between;
  }
.menu{width: 800px; justify-content: end; align-items: end; height: 100%;}
.menu li{width: 140px; height: 80px; position: relative; text-align: center; line-height: 80px; transition: .3s;}
.menu li::after{position: absolute; content: ""; display: block; width: 0%; height: 3px; left: 50%; bottom: 0px; background: #4F709C; transform: translateX(-50%); transition: .3s;}
.menu li:hover{background: #3D195B; color: #fff;}
.menu li:hover::after{width: 100%;}

.examcontainer{width: 1200px; height:800px; margin: 0 auto; position: relative; top: 100px;}
.exambox{width: 900px; height: 800px; opacity: 0; border: 1px solid; position: absolute; right: 0;}
.choose{position: absolute; width: 300px; height: 800px; left: 0;filter:brightness(.9); }
.zero{ background: url("../img/pre.jpg") ;}
.one{ background: url("../img/tot.jpg");}
.two{ background: url("../img/man.jpg");}
.stepbox{width: 200px; height: 150px; margin-left: 10px; background: #fff; border-radius: 10px; margin-top: 30px;}
.stepbox h2{font-size: 30px; width: 150px; transition: .3s; padding: 10px 20px; border-radius: 10px; cursor: pointer;}
.stepbox .act{background: #3D195B; color: #fff; }
.stepbox p{margin-top: 5px;}

.opa{opacity: 1;}

