
  .positionbox {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* width: 800px; */
    padding: 50px 100px;
    border: 1px solid #000;
    margin: 30px auto;
  }
  .positiontitle{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
  }
  .Team-logo {
    /* height: 40vmin;
    pointer-events: none; */
    width: 150px;
    left: 20%;
    top: 5%;
    position: fixed;
  }
  .teamtable{width: 1000px; height: 800px; margin: 0 auto; position: relative;}
  .Team_list{
    display: flex; width: 800px; justify-content: space-evenly;
  }
  .Team_list li{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 60px;
    font-size: 12px;
    height: 33px;
  }
  .Team_list img{
    width: 30px; position: absolute;top: 50%; left: 50%;  transform: translate(-50%,-50%);
  }
  .tableheader{width: 800px;display: flex;justify-content: space-evenly; text-align: center;  font-weight: bold; border-bottom: 1px dotted; padding-bottom: 10px; margin-bottom: 15px;}
  .tableheader li{
    width: 60px;
  }
  .tableheader .Team{width: 140px;}
  .title{width: 1400px; margin-bottom: 50px; display: flex; justify-content: center; flex-direction: column;align-items: flex-start; border-left: 9px solid #3D195B; padding: 0px 25px;}
.title h3::before{position: absolute; content: attr(data-title); font-size: 90px; opacity: .1;width: 150px;height: 150px; top: -20px; left: 80px;}
.title h3{font-size: 40px; position: relative}

.champ{position: absolute; top:171px;}
.champ li{border-left: 3px solid #162E58;width: 10px;height: 25px; border-radius: 2px; margin-bottom : 8px;}

.euro{position: absolute; top:302px;}
.euro li{border-left: 3px solid #FF6900;width: 10px;height: 25px; border-radius: 2px; margin-bottom: 8px;}

.confer{position: absolute; top:368px;}
.confer li{border-left: 3px solid #00B813;width: 10px;height: 25px; border-radius: 2px; margin-bottom: 8px;}

.Rele{position: absolute; top:732px;}
.Rele li{border-left: 3px solid rgb(253, 70, 70);width: 10px;height: 25px; border-radius: 2px; margin-bottom: 8px;}

.qual{width: 750px; display: flex; justify-content: space-between; margin-top: 20px;}
.qual>li>ul{display: flex;}

.qualchamp li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: #162E58;}
.qualeuro li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: #FF6900;}
.qualconfer li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: #00B813;}
.qualrele li:nth-child(1){width: 15px; margin-right: 10px; margin-top: 3px; height: 15px; border-radius: 10px; background-color: rgb(253, 70, 70);}

.plvideo{width: 100%;height: 50vh; margin: 0 auto;}
.plimg{position: absolute;width: 700px; opacity: .1; top: 30%;}

.squad{width: 1200px; margin: 0 auto;}
.teamtitle{display: flex; animation: box1_1 10s linear; align-items: center; width: 650px; justify-content: space-between;}
.teamtitle span{
  font-size: 50px;
}
@keyframes box1_1 {
  0%{clip-path: polygon(0 0, 0 0, 0 0, 0 0);}
  17.5%{clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); opacity: 1;}
  20%{opacity: 0;}
  100%{opacity: 1;}
}
.playerbox{width: 200px; height: 150px;}
.playerbox img{width: 100px;}
.cards{width: 30px;}